.row {
    padding: 0px !important;
    margin: 0px !important;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.div-historique {
    width: 75%;
    margin: auto;
}
.div-info-historique {
    width: 75%;
}

.link-history ul {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 25px 0px;
    margin-bottom: 10px;
}
.link-history :hover {
    border-radius: 5px;
    background-color: rgba(227, 227, 227, 0.418);
}

.card-crew-light-card {
    background: transparent;
    border: 1px solid white;
}

.card-crew-light-card img {
    height: 350px;
    background-size: cover;
}

.card-crew-light-card .card-body {
    background: transparent;
    color: white;
}

.home-row .card {
    text-align: center;
    vertical-align: middle;
}

.home-row .card-body {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #ffffff2b;
}

.home-row a {
    margin-bottom: 75px;
}

.home-row .card:hover {
    box-shadow: 0px 0px 10px 4px white;
}

.img-crew-details-card {
    height: auto;
    width: 200px;
    margin: 10px 10px 10px 0;
}

.crew-details-card {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.img-rocket-light-card {
    height: 200px;
    background-size: contain;
}

#search {
    background: #ffffffc9 !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s;
}
