.row {
    padding: 0px !important;
    margin: 0px !important;
}

body {
    background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.link-history ul {

    margin-bottom: 10px;
}


.titre-historique{
    color:white
}
.titre-entreprise{
    color:white
}
.titre-infoSupp{
    color: white;
}
.titre-fusée{
    color:white
}
.card-crew-light-card {
    background: transparent;
    border: 1px solid white;
}

.card-crew-light-card img {
    height: 350px;
    background-size: cover;
}

.card-crew-light-card .card-body {
    background: transparent;
    color: white;
}
.card-crew-details-card {
    background: rgb(0 0 0 / 26%);
    border: 1px solid white;
}
.card-crew-details-card a {
    color: white;
}
.card-crew-details-card .card-body {
    background: transparent;
    color: white;
}

.home-row .card {
    text-align: center;
    vertical-align: middle;
}

.home-row .card-body {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #ffffff2b;
}

.home-row a {
    margin-bottom: 75px;
}

.home-row .card:hover {
    box-shadow: 0px 0px 10px 4px white;
}

.img-crew-details-card {
    height: auto;
    width: 200px;
    margin: 10px 10px 10px 0;
}

.crew-details-card {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.img-rocket-light-card {
    height: 200px;
    background-size: contain;
}

#search {
    background: #ffffffc9 !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s;
}
.bloc-div-entreprise {
    display: flex;
    flex-direction: row;
}

.img-card{
    height: 400px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.img-spacex {
    height: 400px;
    border: solid 1px rgb(237, 236, 236);
}
.div-spacex {
    text-align: left;
}
.logo-link {
    width: 50px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
}
.img-link{
    margin-right:2%;
    /* background-color: #FFFFFF; */
    height: 150px;
}
.img-link :hover {
    background-color: #cdcdcd;
    transition: background-color 1s ease 0s;
}

.timer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.7;
    z-index: 10;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
}
.timer svg {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

.quizz-card {
    background: #ffffffe0;
}

.quizz-card .card-header {
    display: flex;
    align-items: center;
}

.quizz-card .card-header h3 {
    margin-left: 20px;
}

.quizz-list-card {
    background: #00000066;
    border: 1px solid white;
}
.quizz-list-card:hover {
    box-shadow: 0px 0px 10px 4px white;
}
.quizz-list-card .card-body {
    text-decoration: none;
    color: white;
}
.div-entreprise-spacex{
    background: transparent;
    color:white;
    border-color: #FFFFFF;
}
.titre-rocket-details{
    color: white;
}

.div-info-historique{
    background: transparent;
    color: white;
    border-color: white;
}

.li-history-list {
    background: #00000066;
    border: 1px solid white;
    color: white;
}
.li-history-list:hover {
    box-shadow: 0px 0px 10px 4px white;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 60s linear infinite;
    -moz-animation: rotating 60s linear infinite;
    -ms-animation: rotating 60s linear infinite;
    -o-animation: rotating 60s linear infinite;
    animation: rotating 60s linear infinite;
  }
.link-article{
    border: solid 1px white;
    padding: 10px 20px;
    border-radius: 20px;
    width: 120px;
}
.link-article:hover{
    box-shadow: 0px 0px 10px 4px white;
}
