#root {
    display: flex;
    justify-content: center;
}

.App {
    text-align: center;
    /*max-width: 1080px;*/
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.card {
    margin-left: auto;
    margin-right: auto;
}

.sub-main {
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.div-historique{
    width: 75%;
}
.div-info-historique{
    width: 75%;
}

.bouton-retour{
    text-align: left;
    /* float:left; */
}
.link-history ul {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 25px 0px;
    margin-bottom: 10px;
}
.link-history :hover
{
    border-radius: 5px;
    background-color: rgba(227, 227, 227, 0.418);
}
